[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
	display: none !important;
}

.change-cursor{
	cursor: pointer;
}

#formLogin{
	min-width:300px;
}

#profilePicture{
	height: 100px;
	margin-bottom: 15px;
	max-width: 200px;
}

#profilePictureInput{
	display: none;
}

#profileRemoveButton{
	display: none;
}

#red-color{
	color: red;
}